/* web font orbitron */
h1,
h2,
h3,
p,
button,
blockquote,
pre {
  font-family: Orbitron;
  font-style: normal;
  font-variant: normal;
}

h1 {
  font-size: 30px;
  line-height: 26.4px;
  font-weight: 700;
  text-align: center;
  color: #e0ebc6;
  text-shadow: 1px 1px 1px #b8c87f;
}
h2 {
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #e0ebc6;
  text-shadow: 1px 1px 1px #b8c87f;
}
h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-weight: 400;
  line-height: 18.5667px;
  font-size: 13px;
}

html {
  background: #fffff0;
}

body {
  margin: 20px auto;
  padding: 0;
  height: 95vh;
  width: 102vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c8ad7f;
  box-sizing: border-box;
  border: solid 2px #b8965b;
  border-radius: 20px;
}

#centerDiv {
  height: 89vh;
  width: 91vh;
  display: flex;
  flex-direction: row;
  background: #c8ad7f;
  box-sizing: border-box;
  margin: auto 0;
  justify-content: space-around;
}

#settings {
  width: 10vh;
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#canvas {
  display: grid;
  max-height: 71vh;
  max-width: 71vh;
  flex-grow: 1;
  background: #e6f5dc;
  margin-top: 1vh;
  border: 2px solid #b8965b;
  border-radius: 10px;
  padding: 3px;
}

#bottomDiv {
  height: 15vh;
  flex-shrink: 0;
  /* max-width: 77vh; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 20px; */
  padding-right: 20px;
}

button {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 10px;
  background: #f5f5dc;
  box-shadow: inset 1px 1px 2px 2px hsl(60, 56%, 98%), 2px 2px 2px 1px #b8965b;
  outline: none;
  border: none;
  transition: font-size 0.2s;
}

button:hover {
  cursor: pointer;
  border: 1px solid #b8965b;
  box-shadow: inset 2px 2px 3px 2px hsl(60, 56%, 98%), 3px 3px 3px 1px #b8965b;
  font-size: 19px;
}

#pencilButtonsDiv button {
  display: block;
  width: 100%;
  min-width: 140px;
  height: 80px;
  margin-bottom: 5px;
}

#pencilButtonsDiv button:last-of-type {
  margin-bottom: 30px;
}

#pencilButtonsDiv input {
  height: 50px;
  width: 50px;
  border: 5px solid #f5f5dc;
  border-radius: 10px;
  padding: 0;
  margin: 0 auto;
  display: block;
  box-shadow: inset 2px 2px 3px 2px hsl(60, 56%, 98%), 3px 3px 3px 1px #b8965b;
}

#pencilButtonsDiv input:hover {
  cursor: pointer;
}

button#spray > span > i {
  transform: scaleX(-1);
}

.fa-dice {
  background: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 0, 1),
      rgba(255, 255, 0, 0) 55%
    ),
    -webkit-linear-gradient(135deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0) 55%),
    -webkit-linear-gradient(225deg, rgba(51, 204, 51, 1), rgba(51, 204, 51, 0)
          55%),
    -webkit-linear-gradient(315deg, rgba(255, 51, 0, 1), rgba(255, 51, 0, 0) 55%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-pencil-alt {
  color: hsl(96, 56%, 65%);
}

.fa-spray-can {
  color: hsl(96, 56%, 65%);
}

#bottomDiv button {
  height: 60px;
  width: 200px;
}

#bottomDiv img {
  width: 110px;
}
